html, body, #root {
  padding:0;
  margin:0;
  width:100%;
  height:100%;
}

main {
  height:100%;
  padding:30px;
}

.table-pane {
  padding-right:20px;

  .MuiButton-root {
    margin:0 2px;
  }
}

.leaflet-container {
  width:100%;
  height:100%;
}